.main-doctor-div{
    padding: 10px;
    width:62%;
    border-radius: 10px;
    border: 2px black solid;
    margin:10px;
}

.main-doctor-div p{
    text-align: left;
    font-size:large;
    font-weight: 700;
    color: cadetblue;
}

.main-doctor-div li{
    list-style-type: none;
}